.flex-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login {
    text-align: center;
}

.flex-container > div {
    margin: 10px;
    display: inline;
}

form > div {
    margin: 10px;
    display: block;
}


h1 {
    display: inline-block;
    text-align: center;
}
